    body{
        background-color: black;
        color: white;
        margin: 0;
        padding: 0;
    }


    li img{
        width: 100%;
        height: 20%;
    }

    .Tabla{
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;
        display: flex; 
        color: black;
    }

    .Contenedor_1, .Contenedor_2, .Contenedor_3{
        color: black;
        height: 800px;
        width: 400px;
        padding: 10px;
        background: #c8c1ed;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        margin-left: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .Boton_1, .Boton_2, .Boton_3{
        margin-top: 6%;
        background-color: #F53098;
        color: white;
        font-size: 20px;
        width: 120px;
        min-height: 50px;
        border-radius: 8%;
    }


    @media only screen and (max-width: 600px) {
        .Contenedor_1, .Contenedor_2, .Contenedor_3 {
            width: 100%; /* Hacer que ocupe el ancho completo del dispositivo */
            margin-left: 0; /* Eliminar el margen izquierdo en dispositivos móviles */
        }
    
        .Boton_1, .Boton_2, .Boton_3 {
            width: 100%; /* Hacer que ocupe el ancho completo del contenedor */
        }
    }